body {
  background-color: rgb(31, 30, 30);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 90vh;
  font-size: 30px;
}
